html,
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}
body {
  padding: 36px 24px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/Images/binary-computer-code-repeating-vector-background_88211-918.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: top left;
  background-repeat: repeat;
}
header {
  color: #064217;
  padding: 24px 0;
  font-weight: bold;
}
h2 {
  font-size: 2em;
}
p {
  margin-bottom: 24px;
}
img {
  width: 400px;
}
footer {
  margin-top: 6px;
  font-size: 0.7em;
}
#wrapper {
  max-width: 900px;
  padding: 24px 24px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 24px;
}
#header h1 {
  font-size: 3em;
  text-transform: uppercase;
}
.links {
  color: #0e8d31;
  display: block;
  font-weight: bold;
  margin: 6px 0;
}
